<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User | Bună dimi </title>
    <link rel="icon" type="image/x-icon" href="../public/images/logo-buna-dimi.png">
    <link href= "../public/assets/home.css" rel="stylesheet" type="text/css"/>
    <link href= "../public/assets/index.css" rel="stylesheet" type="text/css"/>
    <link href= "../public/assets/404.css" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92659dd7c5.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <input type = "checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <img id="logo-nav" src="../public/images/logo-buna-dimi.png">
        <ul>
            <li><a href="/acasa">Acasă</a></li>
            <li><a href="/meniu1">Meniu1</a></li>  
            <li><a href="/meniu2">Meniu2</a></li> 
            <li><a href="/despre">Despre noi</a></li>
            <li class="dropdown">
                <a class="dropbtn">Cariere</a>
                <div class="dropdown-content">
                  <a href="#">Barista</a>
                  <a href="#">Tech Lead</a>
                  <a href="#">Location Manager</a>
                </div>
              </li>
            <li><a href="/oferte">Oferte</a></li>
            <li><a href="/oferte2">Oferte2</a></li>
        </ul>
    </nav>
    <section id="branding-gradient">
        <h1 id="eroare">EROARE 404</h1>
        <h1 id="text2">Pagina <%= data %> nu a fost găsită!</h1>
        <h1 id="text2">Vă rugăm să vă întoarceți la <a href="/acasa">pagina principală.</a></h1>
    </section>
</body>
</html>