<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferte | Bun캒 dimi </title>
    <link rel="icon" type="image/x-icon" href="../public/images/logo-buna-dimi.png">
    <link rel="stylesheet" href="../public/assets/home.css">
    <link rel="stylesheet" href="../public/assets/oferte.css">
    <link rel="stylesheet" href="../public/assets/oferte2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/92659dd7c5.js" crossorigin="anonymous"></script>
    <script src="../public/scripts/oferte2.js" defer></script>
    
</head>
<body>
    <nav>
        <input type = "checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <img id="logo-nav" src="../public/images/logo-buna-dimi.png">
        <ul>
            <li><a href="/acasa">Acas캒</a></li>
            <li><a href="/meniu1">Meniu1</a></li>
            <li><a href="/meniu2">Meniu2</a></li>
            <li><a href="/despre">Despre noi</a></li>
            <li class="dropdown">
                <a class="dropbtn">Cariere</a>
                <div class="dropdown-content">
                  <a href="#">Barista</a>
                  <a href="#">Tech Lead</a>
                  <a href="#">Location Manager</a>
                </div>
              </li>
            <li><a href="#">Oferte</a></li>
            <li><a class="active" href="/oferte2">Oferte2</a></li>
        </ul>
    </nav>
    <section class="branding-gradient">
        <div class="div-branding">
            <img id="logo-branding" src="../public/images/logo-buna-dimi.png">
            <h1 id="text-branding">Cafeneaua Bun캒 Dimi</h1>
        </div>
    </section>
    <article id="joc-dimi"> 
        <div class="joc-box">
            <h2 id="titlu-joc" class="titlu-poveste">Joac캒 탳i c칙탳tig캒 oferte 游눜</h2>
            <p id="text-joc"> 
                C칙탳tig칙nd jocul de mai jos ve탵i primi un cod de reducere 칥n func탵ie de dificultatea aleas캒!
                
            </p>
            <p id="text-joc">
                Scopul jocului este s캒 ghici탵i culoarea div-ului care va ap캒rea random pe ecran c칙t 탳i distan탵a la care acesta se afl캒 
                marginea din st칙nga a ecranului.
            </p>
            <p id="text-joc">
                Pentru a 칥ncepe jocul, alege탵i o dificultate 탳i ap캒sa탵i butonul de pe tastatur캒 care corespunde (1 - U탳or, 2 - Mediu, 3 - Greu)
            </p>
            
        </div>
    </article>
    
    <section id="game-field2">
        <div id="patrat-interesant"></div>
    </section>

    <section id="loc-formular">
        <form id="formular" onsubmit="return false">
            <label for="culoare">Culoare</label>
            <br>
            <input type="text" id="culoare" name="culoare" placeholder="Introduce탵i culoarea">
            <br>
            <label for="distanta">Distan탵a</label>
            <br>
            <input type="text" id="distanta" name="distanta" placeholder="Introduce탵i distan탵a">
            <br>
            <input type="submit" value="Trimite">
        </form>
    </section>

    <footer>
        <div class="container-footer">
            <p>&copy; <%= dataAzi %> Bun캒 dimi. All rights reserved.</p>
          <p>Bulevardul Constantin Br칙ncoveanu 6, Bucure탳ti</p>
          <div class="iconite">
            <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
    </footer>
    
    
</body>
</html>