#eroare {
    color: #ffffff;
    top: 0;
    left: 0;
    font-size: 100px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#text2 {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}